body
{
    background-size: contain;
    background-image: url(images/arriereplanIKR.jpg);
    background-attachment: fixed;
}
h1
{
    color: #A1FFC7;
    font-size: 60px;
    letter-spacing: 0.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-attachment: fixed;
    text-align: center;
    padding-left: 21.5cqmax;
}
p
{
    color: #BFBCC8;
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top:0cqmax;
       
    
}
h3
{
    color: #BFBCC8;
    text-align: center;
    font-size: 45px;
    margin-top: 35px;
    letter-spacing: 0.08em;
    opacity: 85%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2
{
    color: white;
    float: left;
    margin-left: 10%;
}
h6
{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    background-attachment: fixed;
    color: white;
    padding-left:25cqmax ;
}
/*img
{
    /*width: 327.9px;
    height: 183.8px;
}*/
nav.menu-nav ul li.btn{
    /*list-style-type: none;*/
    display: inline-block;
   
}
nav.menu-nav ul li.btn a
{
    text-decoration: none;
    font-weight: bold;
    color: #bbbbbb;
    padding: 10px;
    line-height: 5px;
}

nav.menu-nav ul li.btn a img 
{
    width: 165.1px;
    height: 125.1px;
    background-attachment: fixed;
}
nav.menu-nav
{
    font: 0px Arial;
    background-color: black;
}
nav.menu-catg ul li.btn a img /*image categories*/
{
    width: 327.9px;
    height: 183.8px;
}
nav.menu-catg ul li.btn
{
    display: inline-block;
    padding-left: 6.1cqmax;
}
nav.menu-catg ul li.btn a p
{
    color: #A1FFC7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
nav.menu-catg ul li.btn a
{
    text-decoration: none;
}

